.tbk-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  border-radius: 4px;
  cursor: pointer;
}

.tbk-button:disabled {
  background-color: var(--tbk-grey);
}

.tbk-button.white {
  font-size: 1rem;
  background-color: var(--tbk-white);
  color: var(--tbk-red);
  border: 1px solid var(--tbk-red);
  text-decoration: none;
}

.tbk-button.red {
  font-size: 1rem;
  background-color: var(--tbk-red);
  color: var(--tbk-white);
  border: 1px solid var(--tbk-red);
  text-decoration: none;
}

.tbk-button.pos {
  font-size: 14px;
  background-color: var(--tbk-grey-4);
  color: var(--tbk-red);
  border: 1px solid var(--tbk-red);
  text-decoration: none;
}

.tbk-button-text {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
