.connection {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  width: 996px;
  border-radius: 15px;
  align-items: center;
  padding: 62px 101px 99px 56px;
  gap: 30px;
}

.pos-img {
  width: 219px;
  height: 219px;
}

.connection-content {
  display: flex;
  gap: 20px;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.connection-text {
  width: 590px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 20px 0px 20px 0px;
}

p a {
  color: var(--tbk-link);
  text-decoration: underline;
}
