.tbk-footer {
  display: flex;
  flex-direction: column;
  background-color: var(--tbk-black-bg);
  width: 100%;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.tbk-footer-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--tbk-grey-3);
}
